* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3 {
  color: #2e2f42;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
body > p {
  background-color: white;
  border-radius: 4px;
  display: inline;
  padding: 3px 8px;
}
input {
  width: 360px;
  border-radius: 4px;
  border: #2e2f42 solid 1px;
  padding: 8px 16px;
}

button {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
/* Task 1 */
#categories {
  display: grid;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

#categories .item {
  background-color: #f6f6fe;
  border-radius: 8px;
  width: 392px;
  padding: 6px 16px 16px;
}

#categories h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #2e2f42;
  margin-bottom: 16px;
}

#categories .item ul {
  display: grid;
  gap: 8px;
}

#categories .item li {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  padding: 8px 16px;
}

/* Task 2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  width: 1128px;
  gap: 48px 24px;
}

.gallery img {
  object-fit: cover;
}

/* Task 3 */
#name-input {
  margin: 24px calc((100% - 360px) / 2) 0;
  margin-bottom: 16px;
}

#name-input + h1 {
  margin: 0 calc((100% - 360px) / 2);
}

/* Task 4 */
.login-form {
  display: grid;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.login-form label {
  display: grid;
  gap: 8px;
  width: 360px;
}

.login-form button {
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  width: 86px;
}

.login-form button:is(:hover, :focus) {
  background-color: #6c8cff;
}

/* Task 5 */
.widget {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: white;
  border-radius: 8px;
  width: 345px;
  margin-top: 24px;
}

.widget button {
  width: 169px;
  background-color: #4e75ff;
}

.widget button:is(:hover, :focus) {
  background-color: #6c8cff;
}

/* Task 6 */
#controls {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
  margin: 0 auto 16px;
}

#controls input {
  width: 150px;
  text-align: center;
}

#controls button {
  width: 120px;
}

#controls [data-create] {
  background-color: #4e75ff;
}

#controls [data-create]:is(:hover, :focus) {
  background-color: #6c8cff;
}

#controls [data-destroy] {
  background-color: #ff4e4e;
}

#controls [data-destroy]:is(:hover, :focus) {
  background-color: #ff7070;
}

#boxes {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
}
